<p id="notice"><%= notice %></p>

<p>
  <strong>Ticket:</strong>
  <%= @ticket.user.name if @ticket.user %>
  <%= @ticket.train.number if @ticket.train %>
  <%= @ticket.first_station.title if @ticket.first_station %>
  <%= @ticket.latest_station.title if @ticket.latest_station  %>

</p>




<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
