<p id="notice"><%= notice %></p>

<p>
  <strong>Car Type:</strong>
  <%= @car.car_type %>
  <%= @car.number %>
  <strong>Car Number:</strong>
  <%= @car.upper_seats %>
  <%= @car.lower_seats %>
  <%= @car.side_upper_seats %>
  <%= @car.side_lower_seats %>
  <%= @car.bucket_seats %>

</p>




<%= link_to 'Edit', edit_car_path(@car) %> |
<%= link_to 'Back', cars_path %>
