<%= form_for(train) do |f| %>

    <%= render 'common/errors', resourse: @train %>


  <div class="field">
    <%= f.label :number %>
    <%= f.text_field :number %>
  </div>

    <div class="field">
      <%= f.label :route, "Current Route" %>
      <%= f.collection_select :route_id, Route.all, :id, :title %>
    </div>

    <div class="field">
      <%= f.label :car, " Add Car" %>
      <%= f.collection_select :car_id, Car.all, :id, :car_type %>
    </div>

    <div class="field">
      <%= f.label :ticket, " Ticket" %>
      <%= f.collection_select :ticket_id, Ticket.all, :id, :user_id %>
    </div>

    <div class="actions">
    <%= f.submit "#{ @train.new_record? ? 'create_train' :'edit_train'}" %>
  </div>
<% end %>
