<p id="notice"><%= notice %></p>

<p>
  <strong>Number:</strong>
  <%= @train.number %>
</p>

<p>
  <strong>At Route :</strong>
  <% if @train.route_id.present? %>
  <%= @train.route_id %>
      <% else %>
  unknown_route
      <% end %>
</p>

<p>
  <strong>Car :</strong>
  <% if @train.car_id.present? %>
      <%= @train.car.car_type %>
  <% else %>
      unknown_car_type
  <% end %>
</p>

<p>
<strong>Ticket :</strong>
<% if @train.ticket_id.present? %>
    <%= @train.ticket._id %>
<% else %>
    unknown_ticket
<% end %>
</p>

<%= link_to 'Edit', edit_train_path(@train) %> |
<%= link_to 'Back', trains_path %>
